deve*
*.aux
*.toc
*.out
*.fls
*.synctex.gz
*.log
*.fdb_latexmk
android/dialogflow/My\ First\ Project.json
readmelocal.md
*.beam
operatingSystems/Bedtime Stories on Operating Systems.pdf
IOS/learnSwift/dataTypes
IOS/learnSwift/property_propertyWrappers
IOS/learnSwift/protocols
IOS/learnSwift/structures
